<div class="footer">
    <p>All rights reserved &copy; <script>document.write(new Date().getFullYear());</script>, Foodfy recipes.</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/main.js"></script>


<script>
    $(document).ready(function () {
    $(".card-alert > button").on("click", function () {
      $(this).closest("div.card-alert").fadeOut("slow");
    });
  
  
  });
  </script>
  

</body>

</html>