<!DOCTYPE html>

<head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <header>
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/recipe-list">Recipes</a></li>
                    <li><a href="/add">Add Recipe</a></li>
                </ul>
            </div>
        </header>
    </section>