<!DOCTYPE html>

<head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <header>
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/recipe-list">Recipes</a></li>
                    <li><a href="/add">Add Recipe</a></li>
                    <li style="margin-left: 170px;">
                        <form action="/search" method="GET" autocomplete="off">
                            <div class="group">
                                <input type="text" name="searchRecipe" id="search" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="search">Search</label>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </header>
    </section>