<div class="profile-slider">
  <img src="/images/chef.png" alt="" />
  <h1>Welcome <%= user.name.split(" ")[0] %> !</h1>
  <h2>Your Foodfy profile</h2>
  <p>
    Impress people by showing them your delicious recipes.
  </p>
</div>
