@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #111111;
  --color-grey: #777777;
}

body {
  font-family: "Roboto";
}

section {
  max-width: 990px;
  margin: 0 auto;
}

/*=== HEADER ===*/

header {
  height: 93px;
}

.logo {
  float: left;
  padding: 36.1px 122.4px 30px 0px;
}

.menu ul li {
  display: inline-block;
  padding: 38px 30px 36px 0px;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
}

.menu a {
  color: var(--color-black);
  text-decoration: none;
}

/*=== SLIDER ===*/

.slider {
  height: 366px;
  background-color: #fbdfdb;
  border-radius: 30px;
  position: relative;
}

.slider img {
  width: 216px;
  height: 300;
  bottom: 0px;
  right: 100px;
  position: absolute;
}

.slider h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-black);
  padding: 117px 575px 211px 60px;
  position: absolute;
}

.slider p {
  font-size: 17px;
  line-height: 28px;
  color: black;
  opacity: 70%;
  padding: 165px 564px 117px 60px;
  position: absolute;
}

/*=== MAIN ===*/

main h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-black);
  margin-top: 50px;
  margin-bottom: 20px;
}

.cards-index {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  color: var(--color-black);
  margin-top: 15px;
}

.card p {
  font-size: 14px;
  color: var(--color-grey);
  margin-bottom: 30px;
  margin-top: 3px;
}

/*=== about ===*/

.about h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-black);
  margin-top: 25px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  text-align: justify;
}

.about h2 {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-black);
  margin-top: 30px;
  margin-bottom: 20px;
}

.p-end {
  margin-bottom: 50px;
  text-align: justify;
}

/*=== RECIPES ===*/

.cards-recipes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

/*=== MODAL OVERLAY ===*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  border-radius: 16px;
  width: 660px;
  height: 413px;
  margin: 20vh auto;
  position: relative;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content img {
  width: 600px;
  height: 200px;
  margin: 30px;
  object-fit: cover;
  position: relative;
}

.modal-content h2 {
  font-size: 24px;
  line-height: 28px;
  margin-top: -20px;
  color: var(--color-black);
  text-align: center;
}

.modal-content p {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-grey);
  text-align: center;
}

.modal a {
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  text-align: center;
  position: absolute;
  margin: 50px 280px 30px;
}

/* === PAGE RECIPE === */

.recipes {
  width: 100%;
}

.recipes img {
  width: 900px;
  height: 300px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 45px;
}

.recipes h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: var(--color-black);
}

.recipes p {
  font-size: 20px;
  line-height: 40px;
  color: var(--color-grey);
  text-align: center;
  margin-bottom: 50px;
}

.recipes-title {
  display: inline-block;
  margin: 39px 0 20px;
}

.recipes h3 {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  float: left;
  margin-left: 45px;
}

.recipes-title button {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding: 5px;
  margin: 3px;
}

.recipes li {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  list-style-position: inside;
  margin-left: 45px;
}

.information p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  text-align: justify;
  margin-bottom: 50px;
  margin-left: 45px;
}

.ingredients {
  transition: all 1000ms;
}

.hide {
  display: none;
}

/* === FOOTER === */

.footer {
  background-color: #eeeeee;
}

.footer p {
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding: 23px 0px 23px;
}

.form-style-5 {
  max-width: 600px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

.form-style-5 fieldset {
  border: none;
}

.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.form-style-5 label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: black;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
  background: #d2d9dd;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
  position: relative;
  display: block;
  padding: 15px 35px 15px 35px;
  color: purple;
  margin: 0 auto;
  background: #ffc0cb;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #db7093;
  outline: none;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover {
  background: #ffb6c1;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: rgb(153, 150, 150);
  background-color: white;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  padding-left: 0.75rem;
  padding-bottom: 0.25rem;
  padding-right: 0.75rem;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin-right: 10px;
}

.link::before {
  content: "";
  width: 80%;
  height: 80%;
  background-image: linear-gradient(to top, #fed330 30%, rgba(0, 0, 0, 0) 45%);

  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: -1;

  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom;
  transition: width 0.1s ease-out;
}

.link:hover::before {
  width: 0;
  transition-duration: 0.15s;
}

.edit-link,
.delete-link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  padding-left: .75rem;
  padding-bottom: .25rem;
  padding-right: .75rem;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin: 0 20px;

}

.delete-link {
  color: white;
}

.edit-link::before {
  content: "";
  width: 100%;
  height: 230%;
  background-image: linear-gradient(to top, pink 30%, rgba(0, 0, 0, 0) 45%);

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom;
  transition: width .1s ease-out;

}

.edit-link:hover::before {
  width: 0;
  transition-duration: .15s;
}

.delete-link::before {
  content: "";
  width: 100%;
  height: 230%;
  background-image: linear-gradient(to top, #FF0000 30%, rgba(0, 0, 0, 0) 45%);

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom;
  transition: width .1s ease-out;

}

.delete-link:hover::before {
  width: 0;
  transition-duration: .15s;
}

.delete-link:hover {
  color: black;
}


/* search bar styling ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}

input#search {
  font-size: 15px;
  padding: 8px 8px 8px 4px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #757575;
}

input#search:focus {
  outline: none;
}

label.search {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input#search:focus~label.search,
input#search:valid~label.search {
  top: -20px;
  font-size: 12px;
  color: #5264AE;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar::before,
.bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

input#search:focus~.bar::before,
input#search:focus~.bar::after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input#search:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

div.not-found {
  width: 500px;
  left: 245px;
  position: relative;
  margin: auto;
}

h2.not-found-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 100px;
}